* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url("../img/background.jpg");
    background-size: cover;
}

.navbar {
    width: 250px;
    height: 100vh;
    align-items: center;
    text-align: center;
    position: fixed;
    margin-left: -300px;
    background:linear-gradient(rgba(255, 255, 255, .75),rgba(255, 255, 255, .75));
    transition: 0.4s;
}

.nav-link {
    display: grid;
    text-align: center;
    width: 250px;
    height: 100px;
    border-radius: 12.5%;
    margin-bottom: 15px;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.my-container {
    transition: 0.4s;
}

.txt{
    font-size: 1.5em;
}


/* for navbar */

.active-nav {
    margin-left: 0;
}


/* for main section */

.active-cont {
    margin-left: 250px;
}

#menu-btn {
    background:linear-gradient(rgba(255, 0, 0, .8),rgba(0, 0, 255, .8));
    color: #fff;
}

#menu-btn:focus {
    box-shadow: 0 0 0 0.25rem #7952b344;
}