<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Guide</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
          integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/b8310f076c.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // type_holder
            // <div><label><input type="checkbox" class="types" value="mosque" />Mosque</label></div>

            var types = ['amusement_park','aquarium','art_gallery','cafe','campground',
                'casino','church','funeral_home','hindu_temple','library','lodging','mosque',
                'movie_theater','museum','night_club','park','restaurant','shopping_mall','stadium',
                'store','synagogue','university','zoo'];
            var html = '';

            $.each(types, function (index, value) {
                var name = value.replace(/_|'/g, " ");
                html += '<div><label><input type="checkbox" class="types" value="' + value + '" />' + capitalizeFirstLetter(name) + '</label></div>';
            });

            $('#type_holder').html(html);
        });
        $(document).ready(function(){

            $('.types').click(function() {
                $('.types').not(this).prop('checked', false);
            });

        });


        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }

        var map;
        var infowindow;
        var autocomplete;
        var countryRestrict = {'country': 'in'};
        var selectedTypes = [];

        var londonWentmisterLatitude = 51.494720;
        var londonWentmisterLongitude = -0.135278;
        function initialize() {

            var pyrmont = new google.maps.LatLng(londonWentmisterLatitude, londonWentmisterLongitude);

            map = new google.maps.Map(document.getElementById('map'), {
                center: pyrmont,
                zoom: 15
            });
        }

        function renderMap() {
            // Get the user defined values

            var address = "London";
            var radius =  3000;

            // get the selected type
            selectedTypes = [];

            $('.types').each(function () {
                if ($(this).is(':checked')) {
                    selectedTypes.push($(this).val());
                }
            });

            var geocoder = new google.maps.Geocoder();
            var selLocLat = 0;
            var selLocLng = 0;



            geocoder.geocode({'address': address}, function (results, status) {
                if (status === 'OK') {
                    //selLocLat = results[0].geometry.location.lat();
                    //selLocLng = results[0].geometry.location.lng();
                    // koordinat verilen yer

                    //selLocLat   = currentLatitude;
                    //selLocLng   = currentLongitude;

                    //var pyrmont = new google.maps.LatLng(52.5666644, 4.7333304);

                    selLocLat = londonWentmisterLatitude;
                    selLocLng = londonWentmisterLongitude;
                    var pyrmont = new google.maps.LatLng(selLocLat, selLocLng);


                    map = new google.maps.Map(document.getElementById('map'), {
                        center: pyrmont,
                        zoom: 15
                    });
                    //Pin location
                    var marker = new google.maps.Marker({
                        position: pyrmont,
                        map: map,
                        title: "Your Location"
                    });
                    marker.setMap(map);

                    //console.log(selectedTypes);

                    var request = {
                        location: pyrmont,
                        //radius: 5000,
                        //types: ["atm"]
                        radius: radius,
                        types: selectedTypes
                    };

                    infowindow = new google.maps.InfoWindow();

                    var service = new google.maps.places.PlacesService(map);
                    service.nearbySearch(request, callback);
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

        function callback(results, status) {
            if (status == google.maps.places.PlacesServiceStatus.OK) {
                for (var i = 0; i < results.length; i++) {
                    createMarker(results[i], results[i].icon);
                }
            }
        }

        function createMarker(place, icon) {
            var placeLoc = place.geometry.location;

            var marker = new google.maps.Marker({
                map: map,
                position: place.geometry.location,
                icon: {
                    url: icon,
                    scaledSize: new google.maps.Size(20, 20) // pixels
                },
                animation: google.maps.Animation.DROP
            });

            google.maps.event.addListener(marker, 'click', function () {

                let name = place.name;

                infowindow.setContent(name + '<br>' + place.vicinity
                    +"<div id='placeInfo'>No Wikipedia Information About Place</div> ");

                getWikiData(name);

                infowindow.open(map, this);
            });
        }
        // getting place name from wikipedia
        function getWikiData(keyword)  {
            debugger;
            $.ajax({
                url: "https://en.wikipedia.org/w/api.php?action=query&list=search&srsearch=" + keyword + "&prop=info&inprop=url&utf8=&format=json",
                dataType: "jsonp",
                success: function(wikiResponse) {
                    if (wikiResponse === "") {
                        $('#placeInfo').append(" There is no Wikipedia Info")
                    } else {
                        // get wiki's searched name result
                        let nameResponse = wikiResponse.query.search[0].title;

                        // arrange result for adding wikipedia page url
                        let targetUrl = "https://en.wikipedia.org/wiki/" +nameResponse.replace(/\s/g, "_").replace(/'/g,"%27");

                        $('#placeInfo').html('').append( "<a href=\"#\" onClick=\"MyWindow=window.open('"+targetUrl+"','MyWindow','width=800,height=800'); return false;\">" +
                            " Place Information </a> ")
                    }

                },
                error: function() {
                    alert('Error retrieving the desired results');

                }
            });

        }


        // get current location

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                console.log("Geolocation is not supported by this browser.");
            }
        }

        var currentLatitude = 0;
        var currentLongitude = 0;

        function showPosition(position) {
            currentLatitude = position.coords.latitude;
            currentLongitude = position.coords.longitude;
        }
        getLocation();
    </script>
</head>

<body>
<nav class="navbar navbar-expand d-flex flex-column align-item-start" id="sidebar">
    <a href="/" class="navbar-brand text-navy mt-5">
        <div class="txt font-weight-bold">WHAT DO YOU</div>
        <div class="txt font-weight-bold">WANT TO DO?</div>
        <hr>
    </a>
    <ul class="navbar-nav d-flex flex-column mt-5 w-100">
        <li class="nav-item w-100">
            <a href="purchaseCard" class="nav-link text-dark font-weight-bold pl-4">PURCHASING THE PUBLIC TRANSPORT CARD FOR LONDON</a>
        </li>
        <li class="nav-item w-100">
            <a href="newsEventsTips" class="nav-link text-dark font-weight-bold pl-4">NEWS, EVENTS, TIPS IN LONDON</a>
        </li>
        <li class="nav-item w-100">
            <a href="allAttractions" class="nav-link text-dark font-weight-bold pl-4">ATTRACTIONS IN LONDON AND HOW TO GET THERE?</a>
        </li>
        <li class="nav-item w-100">
            <a href="nearbyAttractions" class="nav-link text-dark font-weight-bold pl-4">ATTRACTIONS NEAR YOU IN 1.86 MILES</a>
        </li>
        <li class="nav-item w-100">
            <a href="weather" class="nav-link text-dark font-weight-bold pl-4">WEATHER IN LONDON</a>
        </li>
        <li class="nav-item w-100">
            <a href="whereToEatAndStay" class="nav-link text-dark font-weight-bold pl-4">WHERE TO EAT AND STAY</a>
        </li>
    </ul>
</nav>
<section class="p-4 my-container">
    <button class="btn my-4" id="menu-btn"></button>
</section>
<div class="topic-box"></div>
<div class="topic">NEARBY ATTRACTIONS</div>
<div style="float: right;">
    <div id="map" style="width:900px; height:600px; right: 100px;"></div>
</div>

<div style="float: left; width: 400px; margin-left:300px;">
    <form name="frm_map" id="frm_map">
        <table>
            <tr>
                <th>Types</th>
                <td>
                    <div id="type_holder" style="height: 200px;overflow-y: scroll;">
                        <!-- Dynamic Content -->
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" value="Show" id="submit" onclick="renderMap();">
                    <input type="reset" value="Reset">
                </td>
            </tr>
        </table>
    </form>
</div>


<!-- bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js"
        integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d"
        crossorigin="anonymous"></script>
<!-- custom js -->
<script>
    let menu_btn = document.querySelector("#menu-btn")
    let sidebar = document.querySelector("#sidebar")
    let container = document.querySelector(".my-container")
    menu_btn.addEventListener("click", () => {
        sidebar.classList.toggle("active-nav")
        container.classList.toggle("active-cont")
    })
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDj7oAHBqbnAOkV_P3aPMJTewH7uGe-uoQ&libraries=places&callback=initialize" async defer></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</body>

</html>