<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Guide</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/b8310f076c.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand d-flex flex-column align-item-start" id="sidebar">
        <a href="/" class="navbar-brand text-navy mt-5">
            <div class="txt font-weight-bold">WHAT DO YOU</div>
            <div class="txt font-weight-bold">WANT TO DO?</div>
            <hr>
        </a>
        <ul class="navbar-nav d-flex flex-column mt-5 w-100">
            <li class="nav-item w-100">
                <a href="purchaseCard" class="nav-link text-dark font-weight-bold pl-4">PURCHASING THE PUBLIC TRANSPORT CARD FOR LONDON</a>
            </li>
            <li class="nav-item w-100">
                <a href="newsEventsTips" class="nav-link text-dark font-weight-bold pl-4">NEWS, EVENTS, TIPS IN LONDON</a>
            </li>
            <li class="nav-item w-100">
                <a href="allAttractions" class="nav-link text-dark font-weight-bold pl-4">ATTRACTIONS IN LONDON AND HOW TO GET THERE?</a>
            </li>
            <li class="nav-item w-100">
                <a href="nearbyAttractions" class="nav-link text-dark font-weight-bold pl-4">ATTRACTIONS NEAR YOU IN 1.86 MILES</a>
            </li>
            <li class="nav-item w-100">
                <a href="weather" class="nav-link text-dark font-weight-bold pl-4">WEATHER IN LONDON</a>
            </li>
            <li class="nav-item w-100">
                <a href="whereToEatAndStay" class="nav-link text-dark font-weight-bold pl-4">WHERE TO EAT AND STAY</a>
            </li>
        </ul>
    </nav>
    <section class="p-4 my-container">
        <button class="btn my-4" id="menu-btn"><i class="fa-solid fa-bars"></i></button>
    </section>
    <div class="topic-box"></div>
    <div class="topic">WHERE TO EAT AND WHERE TO STAY</div>
    <div class="searchbar"><input type="text" placeholder="Search"></div>
    <div class="eat-stay">
        <div class="seperator"></div>
        <div class="box-left">WHERE TO EAT</div>
        <div class="eat-cell1 text-white"><a href="error.html" class="text-white" style="text-decoration: none;">Bonoo Indian Tapas <p class="address">675 Finchley Road, London NW2 2JP England</p></a></div>
        <div class="eat-cell2 text-white"><a href="error.html" class="text-white" style="text-decoration: none;">Devine Restaurant Coffee Bar <p class="address">19 Vine Street, London EC3N 2PX England</p></a></div>
        <div class="eat-cell3 text-white"><a href="error.html" class="text-white" style="text-decoration: none;"> Hibox <p class="address">48 Goodge Street, London W1T 4LX England</p></a></div>
        <div class="eat-cell4 text-white"></div>
        <div class="eat-cell5 text-white"></div>
        <div class="eat-cell6 text-white"></div>
        <div class="eat-cell7 text-white"></div>
        <div class="box-right">WHERE TO STAY</div>
        <div class="stay-cell1 text-white"><a href="error.html" class="text-white" style="text-decoration: none;">Park Grand London Hyde Park <p class="address">78 - 82 Westbourne Terrace Paddington, London W2 6QA England</p></a></div>
        <div class="stay-cell2 text-white"><a href="error.html" class="text-white" style="text-decoration: none;">The Clermont, Charing Cross <p class="address">Strand, Charing Cross, London WC2N 5HX England</p></a></div>
        <div class="stay-cell3 text-white"><a href="error.html" class="text-white" style="text-decoration: none;">The Montcalm Royal London House <p class="address">22-25 Finsbury Square, London EC2A 1DX England</p></a></div>
        <div class="stay-cell4 text-white"></div>
        <div class="stay-cell5 text-white"></div>
        <div class="stay-cell6 text-white"></div>
        <div class="stay-cell7 text-white"></div>
    </div>



    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>
    <!-- custom js -->
    <script>
        var menu_btn = document.querySelector("#menu-btn")
        var sidebar = document.querySelector("#sidebar")
        var container = document.querySelector(".my-container")
        menu_btn.addEventListener("click", () => {
            sidebar.classList.toggle("active-nav")
            container.classList.toggle("active-cont")
        })
    </script>
</body>

</html>